th, .graph-container {
    position: sticky;
    z-index: 1;
}

th {
    top: 0;
}

.graph-container {
    display: flex;
    top: 88px;
}

.recharts-surface {
    overflow: visible; /* XAxis label in graph is now not cut off */
}